
body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, sans-serif;
    background-color: #caedde;
}

h1 { 
    color: #414a50;
    margin-top: 50px auto 0 auto;
    font-size: 1,8rem;
    font-weight: normal;
    line-height: 2;
}

p {
    font-size: 1rem;
    color: #414a50;
    font-weight: light;
    text-align: center;
}



footer {
    background-color: #85a6b1;
    font-weight: light;
    margin-top: 350px;
    padding: 20px;
    
}

.top-container {
    background-color: #85a6b1;
    padding-top: 10px;
}

.score-board {
    color: #414a50;
    border-radius: 4px;
    margin: 20px auto;
    padding: 20px 15px;
    border: 3px solid white;
    width: 200px;
    text-align: center;
    position: relative;
}

.badge {
    font-size: 14px;
    padding: 2px 10px;
}

#player-label {
    position: absolute;
    top: 30px;
    left: -25px;

}

#computer-label {
    position: absolute;
    top: 30px;
    right: -30px;

}

