
body {
    margin: 0;
    text-align: center;
    font-family: Verdana, sans-serif;
    background-color: #caedde;
}

h1 { 
    color: #414a50;
    margin-top: 50px auto 0 auto;
    font-size: 1,8rem;
    font-weight: normal;
    line-height: 2;
}

p {
    font-size: 1rem;
    color: #414a50;
    font-weight: light;
    text-align: center;
}

h3 {
    display:inline-block;
}

.top-container {
    background-color: #85a6b1;
    padding-top: 10px;
}



